* {
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#Header {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

#MID {
  flex: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 15px;
}

.google-btn {
  width: 320px;
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 12px;

  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

  transition: background-color 0.2s ease;
}

.google-btn span {
  margin: 0 auto;
}


.google-btn img {
  width: 30px;
  margin-left: 16px;
}


.google-btn:hover {
  background-color: #f2f2f2;
}

hr {
  width: 320px;
  border: 1px solid #f2f2f2;
}

label {
  color: gray;
  font-size: 14px;
}

input {
  width: 300px;
  height: 36px;
  padding: 6px;
  font-size: 14px;
}

.signup-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 320px;
  height: 44px;
  background-color: #a1a1a1;
}

.signin-text {
  text-align: center;
  color: gray;
}

.signin-text a {
  margin-left: 5px;
}

input {
  width: 320px;
  height: 44px;

  padding: 10px 14px;
  font-size: 15px;

  border: 1px solid #e5e7eb; 
  border-radius: 12px;     

  outline: none;       
}

#Footer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 14px;
}

#Footer a {
  margin: 0 5px;
}
